@import "../../colors.scss";

/* main menu */
.main-menu-bar {
   position: relative;
   display: block;
   float: left;
   top: 0;
   left:0;
   width: 75px;
   height: 100%;
   background-color: $red;
}

.main-menu-bar__main-menu {
   list-style-type:none;
   position: block;
   margin: 0;
   padding: 0;
}

.main-menu-bar__main-menu--bottom {
   position: fixed;
   bottom: 0;
}

.main-menu-bar__tab {
   width: 75px;
   height: 75px;
   line-height: 75px;
   color: $white;
   text-align: center;
   display: block;

   &:hover, &.active {
      color: $gray;
      background-color: $white;
      text-decoration: none;
   }
}

.main-menu-bar__tab--logo {
   height: 50px;
   line-height: 50px;
}
