<nav class="main-menu-bar">
   <ul class="main-menu-bar__main-menu main-menu-bar__main-menu--top">
      <li><a class="main-menu-bar__tab main-menu-bar__tab--logo">SSO</a></li>
      <li><a class="main-menu-bar__tab"
             routerLink="/simulator/ground"
             routerLinkActive="active">Ground</a></li>
      <li><a class="main-menu-bar__tab"
             routerLink="/simulator/crafts"
             routerLinkActive="active">Crafts</a></li>
      <li><a class="main-menu-bar__tab"
             routerLink="/simulator/orbit"
             routerLinkActive="active">Orbit</a></li>
      <li><a class="main-menu-bar__tab"
             routerLink="/simulator/track"
             routerLinkActive="active">GND Track</a></li>
   </ul>
   <ul class="main-menu-bar__main-menu main-menu-bar__main-menu--bottom">
      <li><a class="main-menu-bar__tab"
             routerLink="/simulator/options"
             routerLinkActive="active">Options</a></li>
   </ul>
</nav>
