<!--
<div class="main-menu-bar">
   <ul class="main-menu-bar__main-menu main-menu-bar__main-menu--top">
      <li><a href class="main-menu-bar__tab main-menu-bar__tab--logo">SSO</a></li>
      <li><a href ng-click="vm.setMainView('earth')"
                  class="main-menu-bar__tab"
                  ng-class="{active: vm.isMainView('earth')}">Earth</a></li>
      <li><a href ng-click="vm.setMainView('satellite')"
                  class="main-menu-bar__tab"
                  ng-class="{active: vm.isMainView('satellite')}">Sat</a></li>
      <li><a href ng-click="vm.setMainView('orbit')"
                  class="main-menu-bar__tab"
                  ng-class="{active: vm.isMainView('orbit')}">Orbit</a></li>
      <li><a href ng-click="vm.setMainView('groundtrack')"
                  class="main-menu-bar__tab"
                  ng-class="{active: vm.isMainView('groundtrack')}">GND Track</a></li>
   </ul>
   <ul class="main-menu-bar__main-menu main-menu-bar__main-menu--bottom">
      <li><a href ng-click="vm.setMainView('options')"
                  class="main-menu-bar__tab"
                  ng-class="{active: vm.isMainView('options')}">Options</a></li>
   </ul>
</div>
-->

<h4>Main  Menu</h4>
