.idea
node_modules
bower_components
jspm_packages
npm-debug.*
link-checker-results.txt
public/**/*.js
*.js.map
e2e/**/*.js
e2e/**/*.js.map
_test-output
_temp
*~
.*~
*.swp
.*.swp
*.css
.sass-cache
lib/gmat-dist
lib/gmat
