<header class="pages-header">
  <div class="container">
    <!-- <nav class="navbar navbar-default navbar-custom"> -->
    <nav class="pages-header-nav">
      <a class="pages-header-nav__tab page-header-nav__tab--logo"
         routerLink="/home"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{ exact: true }">Space Systems Online</a>
      <a class="pages-header-nav__tab"
               routerLink="/home"
               routerLinkActive="active"
               [routerLinkActiveOptions]="{ exact: true }">Home</a>
        <a class="pages-header-nav__tab"
               routerLink="/simulator"
               routerLinkActive="active">Simulator</a>
        <!-- <li ng-class="{active: activeTab === 'contact'}"><a routerLink="contact">Contact</a></li> -->
        <a class="pages-header-nav__tab"
               routerLink="/about"
               routerLinkActive="active">About</a>


      <!-- <div ng-switch="vm.user">

      <div ng-switch-when="true">
      <ul class="nav navbar-nav pull-right">
      <li class="dropdown">
      <a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown">Hi, {{vm.user.firstName}}<span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
      <li><a ui-sref="account">Account</a></li>
      <li ng-if="vm.user.admin"><a ui-sref="admin">Administration</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </li>
</ul>

</div> -->

<!-- <div ng-switch-default>
<ul class="nav navbar-nav pull-right">
<li><a href="/login" ng-class="{active: activeTab === 'login'}">Log in</a></li>
<li><a href="/register" ng-class="{active: activeTab === 'register'}">Sign up</a></li>
</ul>
</div> -->
</nav>
</div>
</header>

<!-- <div class="flash-message" ng-if="flash">
<div class="container">
<div class="{{'alert alert-' + flash.type}}" ng-bind="flash.message"></div>
</div>
</div> -->
