.pages-header {
  background-color: red;
}

.pages-header-nav {
  background-color: transparent;
}

.pages-header-nav__tab {
  color: white;
  padding: 10px;
  display: inline-block;
  font-size: 1.5em;
}

.pages-header-nav__tab--logo {
  // font-weight: bold;
}
